/* Notifications */
.notifications2 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #292929f6;
    height: 8%;
    width: 20%;
    border-radius: 6px;
    animation: slide-in-and-out 8s forwards;
}
.testing-notification2 {
    color: #cacaca;
    font-family: 'Roboto';
    font-weight: 800;
    display: inline-block;
    position: relative;
    font-weight: 300;
    margin: 9% 9%;
}

@keyframes slide-in-and-out {
    0%{ transform: translateX(1000px) }
    4%{ transform: translateX(-10px) }
    8%{ transform: translateX(0px) }
    50%{ transform: translateY(0px) }
    54%{ transform: translateY(-10px) }
    60%{ transform: translateY(1000px) }
    100%{ transform: translateY(1000px) }
}